@model Lemon_WebApp.Models.GameConfiguration

@{
    //Layout = "_MittLayout";
    ViewData["Title"] = "Game Configuration";
}

<html>
<head>
    <title>LudoGameApple</title>
    <link href="~/css/GameConfigurationStyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="form-selectedGames">
        @using (Html.BeginForm("****", "*****", FormMethod.Post))
        {
            <h4>Available games</h4>
            <select name="selectedGames" id="selectedGames">
                @if (Model.games != null)
                {
                    @foreach (var game in Model.games)
                    {
                        <option value="@game">@game</option>
                    }
                }
            </select>
            <input value="Load game" type="submit">
        }
    </div>
    <br /><br />
    <div class="form-addPlayer">
        @using (Html.BeginForm("AddPlayer", "Ludo", FormMethod.Post))
        {
            <h4>Add player</h4>
            <input value="Name" type="text" name="nameOfPlayer">
            <select name="playerColor" id="playerColor">
                <option value="Blue">Blue</option>
                <option value="Yellow">Yellow</option>
                <option value="Red">Red</option>
                <option value="Green">Green</option>
            </select>
            <input value="Add player" type="submit">
        }
    </div>

    @{
        var playerData = ViewBag.Message;
    }

    @if (!String.IsNullOrEmpty(playerData.Name))
    {
        <div><p>Name: <b>@playerData.Name</b> was added with color: <b>@playerData.Color</b></p></div>
    }
    <br /><br />

    <div>
        <form action="@Url.Action("PutGameStateToStart", "Ludo")">
            <input value="Go to gameboard" type="submit">
        </form>
    </div>



</body>
</html>
